@media only screen and (max-width: 1920px) {
    .MediaQuery-1920 {
        display: block;
    }

    .MediaQuery-1080 {
        display: none;
    }
}

@media only screen and (max-width: 1080px) {
    .MediaQuery-1920 {
        display: none;
    }

    .MediaQuery-1080 {
        display: block;
    }
}

