
body {
    background: black;
}

.toprow {
    height: 180px;
}

.masjid-name {
    padding-top: 10px;
    font-size: 0.25in;
}

.toprow {
    height: 200px;
    margin-bottom: 20px;
}

.toprow .row {
    height: 120px;
}

.next-salah div {
    font-size: 35px;

}

.next-salah .alarm {
    color: red;
    font-weight: bold;
    font-size: 50px;
    animation: blinkingText 5s infinite;
}

.timecontainer {
    font-size: 0.3in;
}

.timecontainer .time {
    letter-spacing: 12px;
    font-size: 1.8in;
    display: inline-flex;
}

.timecontainer .time .ampm {
    font-size: 20%;
    margin-top: 1.4in;
    width: 100px;
}

.date {
    font-size: 0.4in;
}

.date-hijri {
    font-size: 0.4in;
}

.middle-row {
    margin-top: 1.9in;
}

.middle-row {
    font-size: 0.3in;
}

.middle-row .title {
    font-size: 0.4in;
}

.today {
    margin-top: 100px;
    font-size: 0.50in;
}

.today .title {
    font-size: 0.50in;
    margin-top: 30px;
}

.today time {
    font-size: 0.90in;
    margin-top: 30px;
}

.today .iqama .info time {
    font-size: 80%;
    color: grey;
}

.today .current .info time {
    color: yellow;
}

.today .col {
    border: #1b1e21 7px solid;
    border-radius: 15px;
}

.today .friday {

    border-right: black 7px solid;

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
