
.App {
    margin-top: 10px;
    text-align: center;

}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {

    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.toprow {
    height: 200px;
}

.toprow .row {
    height: 120px;
}

.masjid-name {

}

.next-salah {
    display: inline-flex;
    flex-horizontal-center: 1;
    flex-direction: row;
    vertical-align: bottom;
    margin-top: 35px;

}

.next-salah .continer {

}

.next-salah .contine .title {
    font-size: 50px;
    display: inline-flex;
    color: #eeeeff;
    font-size: 35px;
    margin-right: 10px;
}

.next-salah .time {
    letter-spacing: normal;
    font-size: 35px;
    display: flex;
    flex-direction: row;
}

.next-salah div {
    color: greenyellow;
    font-size: 40px;

}

.toprow {
    height: 180px;
}

.masjid-name {
    padding-top: 10px;
    font-size: 0.25in;
}


.timecontainer {
    font-weight: bold;
    font-size: 0.3in;
}

.timecontainer .time {
    letter-spacing: 12px;
    font-size: 1.5in;
    font-weight: bold;
    display: inline-flex;
    flex-horizontal-center: 1;
    flex-direction: row;
    vertical-align: bottom;

}

.timecontainer .time .ampm {
    letter-spacing: normal;
    font-size: 20%;
    font-weight: normal;
    margin-top: 1.3in;
    margin-right: 0px;
    Width: 90px;
}


.timecontainer .date {
    align-content: center;
    align-self: center;
    margin-left: 40px;
    font-size: 0.4in;
    width: 100%;
}

.timecontainer .date-hijri {
}

.middle-row {
    margin-top: 1.9in;
}

.middle-row {
    font-size: 0.3in;
}

.middle-row .title {
    font-size: 0.4in;
    color: #eeeeff;
    font-weight: bold;
}

.tomorrow .iqama {

}


.today {
    margin-top: 100px;
    font-size: 0.50in;

}

.today .title {
    font-size: 0.60in;
    margin-top: 30px;
}

.today .row {
    border-bottom: gray solid 4px;
}

.today .time {
    color: greenyellow;
    font-size: 0.9in;
    margin-top: 30px;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
